// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import 'bootstrap-datetimepicker';


body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.padding {
  padding-top: 25px;
}

.margins {
  margin-left: 10%;
  margin-right: 10%;
}

dt, dd {
  padding-top: 4px;
  font-size: 140%;  
}

dt {
  float: left;
    width: 3em;
    clear: both;

}

dd {
  margin-bottom: 5px;
}

/* header */

#logo {
  float: left;
  margin-right: 15px;
  font-size: 1.9em;
  color: white;
  letter-spacing: -1px;
  padding-top: 8px;
  font-weight: bold;
  background: none;
  font-family: monospace;
}

.navbar-fixed-top {
  background-color: #18088A;
  border-color: #E7E7E7;
  background-image: -webkit-linear-gradient(bottom, #18088A, #0B0B3B);
}



.nav {
  font-family: monospace;
  font-weight: bold;
  color: white;
  li {
    &:hover {
      background-image: -webkit-linear-gradient(bottom, #2E2EFE, #0B0B3B);
      color: white;
    }
    a:link, a:visited {
      color: white;
    }
  }
}
